@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Montserrat-Regular'),
        url('../Fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../Fonts/Montserrat-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local('Montserrat-Bold'),
        url('../Fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../Fonts/Montserrat--Bold.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: local('Montserrat-Bold'),
        url('../Fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../Fonts/Montserrat--Bold.woff') format('woff');
}

* {
    box-sizing: border-box;
}

.body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    padding: 0 75px;
    max-width: 1920px;
    margin: 0 auto;
}

.center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.btn {
    padding: 10px;
    border-radius: 16px;
    background-color: blue;
    color: var(--white);
    cursor: pointer;
}

.btn:hover {
    opacity: 0.5;
}

.btn:active {
    background-color: var(--active);
    color: var(--black);
}


:root {
    --default: #FF9900;
    --hover: #FFB84D;
    --active: #E1670E;
    --green: #97EE3F;
    --white: #FFFFFF;
    --silver: #CACACA;
    --background: rgba(0, 0, 0, 0.1);
    --silver-3: #666666;
    --silver-4: #414141;
    --black: #000000;
    --background-white: rgb(255, 255, 255);
    --text-back: rgba(0, 0, 0, 0.5);
}

.descr-reset {
    margin: 0;
}

.list-reset {
    list-style: none;
    margin: 0;
    padding: 0;
}

.reset-heading {
    margin: 0;
    padding: 0;
}


.burger {
    position: relative;
    display: none;
    width: 30px;
    height: 23px;
    cursor: pointer;
    text-align: center;
    background: transparent;
    border-color: transparent;
}

.header__burger:hover {
    cursor: pointer;
}

.burger__line {
    display: block;
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 0;
    width: 30px;
    height: 3px;
    background: var(--white);
}


.burger__line:nth-child(1) {
    display: block;
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0;
    width: 30px;
    height: 3px;
    background: var(--white);
}


.burger__line:nth-child(2) {
    display: block;
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 0;
    width: 30px;
    height: 3px;
    background: var(--white);
}


.burger__line:nth-child(3) {
    display: block;
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 0;
    width: 30px;
    height: 3px;
    background: var(--white);
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.main {
    background-color: var(--black);
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-50 {
    margin-bottom: 50px;
}

/*=================================HEADER=========================*/

:root {
    --default: #FF9900;
    --hover: #FFB84D;
    --active: #E1670E;
    --green: #97EE3F;
    --white: #FFFFFF;
    --silver: #CACACA;
    --ultra: #8c65ff;
    --background: rgba(0, 0, 0, 0.1);
    --silver-3: #666666;
    --silver-4: #414141;
    --black-2: #18181b;
    --black: #000000;
    --background-white: rgb(255, 255, 255);
    --text-back: rgba(0, 0, 0, 0.5);
}


.nav {
    background-color: var(--black-2);
}

.nav.dark {
    background-color: var(--black-2);
    color: white;
}

.nav.light {
    background-color: var(--silver);
    color: black;
}


.header__btn {
    border: 3px solid var(--ultra);
    width: 175px;
    height: 50px;
    padding: 10px;
    background-color: transparent;
    color: var(--ultra);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.header__btn:hover {
    color: var(--white);
    background-color: var(--ultra);
    border: 3px solid var(--silver-3);
}

.header__btn:active {
    color: var(--white);
    background-color: var(--ultra);
    border: 3px solid var(--silver-4);
}

.header__logo {
    width: 150px;
    height: 60px;
    margin-bottom: -50px;
}


.header__logo:hover {
    outline: 2px solid var(--default);
}

.header__logo:active {
    opacity: 0.6;
    outline: 2px var(--hover);
}


.nav-list-section {
    display: flex;
    gap: 40px;
}

.nav-list-section__link {
    color: var(--silver);
}

.nav-list-section__link:hover {
    color: var(--hover);
}

.nav-list-section__link:active {
    color: var(--active);
}

.center-section {
    padding-top: 15px;
    display: flex;
    gap: 20px;
}

.header__social-ico {
    width: 30px;
    fill: #00FFFF;
    transition: fill 0.3s ease-in-out;
}

.header__social-icon {
    width: 30px;
    fill: #00FFFF;
    transition: fill 0.3s ease-in-out;
}

.header__social-ico:hover {
    fill: red;
}

.header__social-icon:hover {
    fill: red;
}

.header__social-ico:active {
    fill: blue;
}

.header__social-icon:active {
    fill: blue;
}

.right-section__link {
    color: currentColor;
    transition: color 0.3s ease-in-out;
}

.right-section {
    padding-top: 15px;
}

.right-section__link:hover {
    color: var(--hover);
}

.right-section__link:active {
    color: var(--default);
}

.right-section-list {
    flex-direction: column;
    gap: 10px;
}

.center-section__list {
    justify-content: center;
    align-items: center;
}

.center-section__list-item:not(:last-child) {
    margin-right: 15px;
}

.nav-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-wrapp {
    padding: 10px 0px;
}

/*==============================popup block====================*/

.form-container {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.open {
    display: block;
}

.back-form__title {
    font-size: 32px;
    color: var(--black);
}

.back-form__description {
    font-size: 28px;
    color: var(--black);
}

.back-form__form-info {
    width: 100%;
    height: 60px;
    padding-left: 24px;
    margin-bottom: 25px;
    border: none;
    border-radius: 16px;
    outline: none;
    color: var(--silver);
    background: var(--silver-4);
}

.back-form__send-btn {
    margin: 0 auto;
    max-width: 200px;
    padding: 19px 53px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    outline: none;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    color: var(--white);
    background: var(--default);
    transition: background-color .3s ease-in-out;
}

.back-form__send-btn:hover {
    background: var(--hover);
}

.back-form__send-btn:active {
    background: var(--active);
}

.back-form__send-btn:focus {
    outline: 2px solid var(--hover);
}


.popup {
    position: relative;
    margin: 10% auto;
    padding: 20px;
    width: 50%;
    background-color: var(--white);
    border-radius: 5px;
}


#closeButton {
    font-size: 42px;
    color: var(--active);
    cursor: pointer;
}

.stop-scroll {
    overflow: hidden;
}

.none {
    display: none;
}


/*header*/

.header {
    position: relative;
    background-color: var(--black);
}

.container-header {
    display: flex;
    justify-content: space-between;
}

.desktop-menu-nav {
    display: flex;
    align-items: center;
}

.header__link {
    text-decoration: none;
}

.header__link {
    color: #00bfff;
    /* Цвет обычной ссылки */
    position: relative;
    cursor: pointer;
    text-decoration: none;
    /* Убираем подчеркивание */
}

.header__link:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    /* Высота линии */
    background-color: var(--default);
    /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.5s;
    /* Время эффекта */
}

.header__link:hover:after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    /* Высота линии */
    background-color: red;
    /* Цвет подчеркивания при появлении линии*/
    transition: width 0.5s;
    /* Время эффекта */
}

.header__list {
    display: flex;
    gap: 83px;
}

.header__logo-wrap {
    padding: 5px 0;
}

.header__logo {
    height: 60px;
}

.header__logo:hover {
    outline: 2px solid var(--default);
}

.header__logo:active {
    opacity: 0.6;
    outline: 2px var(--hover);
}

.header__link {
    cursor: pointer;
}

.header__nav .header__link:focus {
    outline: 2px solid var(--hover);
}

.header__nav .header__link:active {
    color: var(--active);
    border-bottom: 2px solid var(--active);
}

.header__nav .header__link {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: var(--white);
}

.header__btn {
    border: none;
    width: 26px;
    height: 26px;
    outline: none;
    cursor: pointer;
    background: var(--white);
}

.section {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 50px;
}

.first__section {
    margin-bottom: 100px;
}

.second__section {
    margin-bottom: 40px;
}

.main-heading {
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin-bottom: 40px;
}

.heading {
    margin-bottom: 20px;
}

/* .description {

} */

.second__section-header {
    margin-bottom: 20px;
}

.textarea {
    border-color: var(--hover);
}


input[type="url"] {
    font-size: 32px;
    width: 70%;
}

button {
    font-size: 28px;
    cursor: pointer;
}

.error-message {
    display: none;
    margin-bottom: 40px;
    color: red;
    font-size: 24px;
    font-weight: bold;
}

.error-message-active {
    display: block;
}

hr {
    margin-bottom: 40px;
}

.qrcode-container {
    display: flex;
    justify-content: center;
}

#qrcode {
    width: 512px;
    height: 512px;
}

textarea {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
}

input[type="submit"] {
    padding: 10px 20px;
    font-size: 18px;
}

.section__form {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    max-width: 1000px;
}
/*footer*/

.footer {
    background: var(--black);
}

.container-footer {
    display: flex;
    justify-content: space-between;
    background: var(--black);
}

.footer__social-link {
    text-decoration: none;
}


.footer__social-link:focus {
    outline: 2px solid var(--hover);
}

.footer__nav {
    width: 262px;
    margin-right: 172px;
}

.footer__img-wrap {
    padding-bottom: 20px;
    padding-top: 51px;
}

.footer__list {
    margin: 0;
    padding: 0;
    margin-bottom: 100px;
}

.footer__list .footer__list-item:not(:last-child) {
    margin-bottom: 14px;
}

.footer__list .footer__list-item .footer__item {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    color: var(--silver);
}

.footer__contacts {
    display: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-bottom: 45px;
}

.footer__contacts .footer__contacts-item:not(:last-child) {
    margin-right: 25px;
}

.footer__application {
    width: 570px;
    margin-right: 60px;
    margin-bottom: 40px;
}

.footer__item {
    color: #00bfff;
    /* Цвет обычной ссылки */
    position: relative;
    cursor: pointer;
    text-decoration: none;
    /* Убираем подчеркивание */
}

.footer__item:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    /* Высота линии */
    background-color: var(--default);
    /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.5s;
    /* Время эффекта */
}

.footer__item:hover:after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    /* Высота линии */
    background-color: red;
    /* Цвет подчеркивания при появлении линии*/
    transition: width 0.5s;
    /* Время эффекта */
}


.footer__list-item .footer__item:focus {
    outline: 2px solid var(--hover);
    border: 2px var(--hover);
    padding: 2px;
    color: var(--hover);
}

.footer__list-item .footer__item:active {
    color: var(--active);
}

.footer__title {
    margin: 0;
    padding-top: 55px;
    padding-bottom: 20px;
    font-style: normal;
    font-weight: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 59px;
    color: var(--silver);
}

.footer__form-info {
    width: 100%;
    height: 60px;
    padding-left: 24px;
    margin-bottom: 25px;
    border: none;
    border-radius: 16px;
    outline: none;
    color: var(--silver);
    background: var(--silver-4);
}

.footer__form-message {
    margin-bottom: 27px;
    padding-left: 23px;
    padding-top: 23px;
    width: 100%;
    height: 150px;
    resize: none;
    border: none;
    border-radius: 16px;
    outline: none;
    background: var(--silver-4);
    color: var(--silver);
}

.footer__form-info:focus {
    outline: 2px solid var(--hover);
    background-color: var(--silver-3);
}

.footer__form-message:focus {
    outline: 2px solid var(--hover);
    background-color: var(--silver-3);
}

.footer__blog-consent {
    display: flex;
    justify-content: center;
}

.footer__send-btn {
    padding: 19px 53px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    outline: none;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    color: var(--white);
    background: var(--default);
    transition: background-color .3s ease-in-out;
}

.footer__send-btn:hover {
    background: var(--hover);
}

.footer__send-btn:active {
    background: var(--active);
}

.footer__send-btn:focus {
    outline: 2px solid var(--hover);
}


.footer__info {
    margin: 0;
    width: 363px;
    padding-top: 140px;
}

.footer__text {
    font-style: normal;
    font-weight: normal;
    line-height: 31px;
    color: var(--silver);
}

.footer__social-icon .footer__social-ico:hover {
    fill: var(--hover);
}

.footer__social-icon .footer__social-ico:active {
    fill: var(--active);
}


/*==============================COOKIE====================*/
#cookie_notification {
    z-index: 10000;
    display: none;
    justify-content: space-between;
    align-items: flex-end;
    position: fixed;
    bottom: 15px;
    left: 50%;
    width: 900px;
    max-width: 90%;
    transform: translateX(-50%);
    padding: 25px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.4);
}

#cookie_notification p {
    margin: 0;
    font-size: 0.7rem;
    text-align: left;
    color: $color_text;
}


.btn-notification {
    padding: 10px 20px;
    background-color: #364a7c;
    transition: background-color 0.3s linear 0s;
    border-radius: 3px;
    font-size: 18px;
    cursor: pointer;
    display: inline-block;
    color: #ffffff;
}

.btn-notification:hover {
    background-color: #33363b;
}

@media (min-width: 576px) {
    #cookie_notification.show {
        display: flex;
    }

    .cookie_accept {
        margin: 0 0 0 25px;
    }
}

@media (max-width: 575px) {
    #cookie_notification.show {
        display: block;
        text-align: left;
    }

    .cookie_accept {
        margin: 10px 0 0 0;
    }
}


/*==============================popup block====================*/

#blablabla {
    display: none;
    animation-duration: 1.5s;
    animation-fill-mode: both;
    animation-name: fadeIn;
}

#blablabla.open {
    display: block;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(17, 17, 17, 0.5);
    transition: all 0.5s ease-in-out;
    display: none;
}

.popup_open {
    display: block;
}

.popup__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 10px;
    max-width: 588px;
    width: 100%;
}

.popup__wrapper {
    padding: 40px;
}