* {
    box-sizing: border-box;
}

.section-body {
    font-family: 'Times New Roman', sans-serif, arial;
    background: var(--white);
}

input::placeholder {
    color: red;
}


input::textarea {
    color: red;
}

.container {
    padding: 0 75px;
    max-width: 1920px;
    margin: 0 auto;
}

img {
    width: 100%;
}

.center {
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
}

:root {
    --default: #FF9900;
    --hover: #FFB84D;
    --active: #E1670E;
    --green: #97EE3F;
    --white: #FFFFFF;
    --silver: #CACACA;
    --background: rgba(0, 0, 0, 0.1);
    --silver-3: #666666;
    --silver-4: #414141;
    --black: #000000;
    --background-white: rgb(255, 255, 255);
    --text-back: rgba(0, 0, 0, 0.5);
}

.descr-reset {
    margin: 0;
}

.mb-30 {
    margin-bottom: 30px;
}

.list-reset {
    list-style: none;
    margin: 0;
    padding: 0;
}

.reset-heading {
    margin: 0;
    padding: 0;
}

.burger {
    position: relative;
    margin-top: 25px;
    display: none;
    width: 30px;
    height: 23px;
    cursor: pointer;
    text-align: center;
    background: transparent;
    border-color: transparent;
}

.header__burger:hover {
    cursor: pointer;
}

.burger__line {
    display: block;
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 0;
    width: 30px;
    height: 3px;
    background: var(--white);
}


.burger__line:nth-child(1) {
    display: block;
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0;
    width: 30px;
    height: 3px;
    background: var(--white);
}


.burger__line:nth-child(2) {
    display: block;
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 0;
    width: 30px;
    height: 3px;
    background: var(--white);
}


.burger__line:nth-child(3) {
    display: block;
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 0;
    width: 30px;
    height: 3px;
    background: var(--white);
}


.result-container {
    width: 100%;
    height: auto;
}

/*header*/

.header {
    position: relative;
    background-color: var(--black);
}

.container-header {
    display: flex;
    justify-content: space-between;
}

.desktop-menu-nav {
    display: flex;
    align-items: center;
}

.header__link {
    text-decoration: none;
}

.header__link {
    color: #00bfff;
    /* Цвет обычной ссылки */
    position: relative;
    cursor: pointer;
    text-decoration: none;
    /* Убираем подчеркивание */
}

.header__link:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    /* Высота линии */
    background-color: var(--default);
    /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.5s;
    /* Время эффекта */
}

.header__link:hover:after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    /* Высота линии */
    background-color: red;
    /* Цвет подчеркивания при появлении линии*/
    transition: width 0.5s;
    /* Время эффекта */
}

.header__list {
    display: flex;
    gap: 83px;
}

.header__logo-wrap {
    padding: 5px 0;
}

.header__logo {
    height: 60px;
}

.header__logo:hover {
    outline: 2px solid var(--default);
}

.header__logo:active {
    opacity: 0.6;
    outline: 2px var(--hover);
}

.header__link {
    cursor: pointer;
}

.header__nav .header__link:focus {
    outline: 2px solid var(--hover);
}

.header__nav .header__link:active {
    color: var(--active);
    border-bottom: 2px solid var(--active);
}

.header__nav .header__link {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: var(--white);
}

.header__btn {
    border: none;
    width: 26px;
    height: 26px;
    outline: none;
    cursor: pointer;
    background: var(--white);
}

.main-header {
    margin-bottom: 50px;
}

.flex {
    display: flex;
    justify-content: center;
}

/*form*/
.btn {
    background-color: rgb(0, 94, 255);
    color: white;
    /* padding: 20px 40px; */
    padding: 25px 40px;
    border: none;
    outline: none;
    cursor: pointer;
    /* font-size: 18px; */
    font-size: 23px;
    /* line-height: 29px; */
    letter-spacing: 1px;
    font-weight: 300;
    border-radius: 20px;
    text-transform: uppercase;
    transition: transform .5s, outline-color .5s;
    outline: 1px solid transparent;
    outline-offset: 4px;
    margin-top: 50px;
}


.btn:focus-visible {
    outline-color: rgb(0, 94, 255);
}

.btn:hover {
    transform: scale(1.03);
}

.btn:active {
    transform: scale(0.97);
}





.form {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.form__text {
    max-width: 500px;
}

.file-input {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border: 2px solid #ccc;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.file-input input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
}


.file-input .selected-file {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.file-input .upload-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
}

.file-input .upload-button:hover {
    background-color: #45a049;
}

/* .input-box {
     padding-left: 23px;
    padding-top: 23px;
    width: 100%;
    height: 150px;
    resize: none;
    border: none;
    border-radius: 16px;
    outline: none;
} */


/*footer*/

.footer {
    background: var(--black);
}

.container-footer {
    display: flex;
    justify-content: space-between;
    background: var(--black);
}

.footer__social-link {
    text-decoration: none;
}


.footer__social-link:focus {
    outline: 2px solid var(--hover);
}

.footer__nav {
    width: 262px;
    margin-right: 172px;
}

.footer__img-wrap {
    padding-bottom: 20px;
    padding-top: 51px;
}

.footer__list {
    margin: 0;
    padding: 0;
    margin-bottom: 100px;
}

.footer__list .footer__list-item:not(:last-child) {
    margin-bottom: 14px;
}

.footer__list .footer__list-item .footer__item {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    color: var(--silver);
}

.footer__contacts {
    display: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-bottom: 45px;
}

.footer__contacts .footer__contacts-item:not(:last-child) {
    margin-right: 25px;
}

.footer__application {
    width: 570px;
    margin-right: 60px;
    margin-bottom: 40px;
}

.footer__item {
    color: #00bfff;
    /* Цвет обычной ссылки */
    position: relative;
    cursor: pointer;
    text-decoration: none;
    /* Убираем подчеркивание */
}

.footer__item:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    /* Высота линии */
    background-color: var(--default);
    /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.5s;
    /* Время эффекта */
}

.footer__item:hover:after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    /* Высота линии */
    background-color: red;
    /* Цвет подчеркивания при появлении линии*/
    transition: width 0.5s;
    /* Время эффекта */
}


.footer__list-item .footer__item:focus {
    outline: 2px solid var(--hover);
    border: 2px var(--hover);
    padding: 2px;
    color: var(--hover);
}

.footer__list-item .footer__item:active {
    color: var(--active);
}

.footer__title {
    margin: 0;
    padding-top: 55px;
    padding-bottom: 20px;
    font-style: normal;
    font-weight: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 59px;
    color: var(--silver);
}

.form-info {
    width: 100%;
    height: 60px;
    padding-left: 24px;
    margin-bottom: 25px;
    /* border: none; */
    border-color: #00bfff;
    border-radius: 16px;
    outline: none;
    color: var(--black);
    background: var(--white);
}

.form-message {
    margin-bottom: 27px;
    padding-left: 23px;
    padding-top: 23px;
    width: 100%;
    height: 150px;
    resize: none;
    /* border: none; */
    border-color: #00bfff;
    border-radius: 16px;
    outline: none;
    background: var(--white);
    color: var(--black);
}

.form-info:focus {
    border-color: #00bfff;
    outline: 2px solid var(--hover);
    background-color: var(--white);
}

.form-message:focus {
    border-color: #00bfff;
    outline: 2px solid var(--hover);
    background-color: var(--white);
}

.footer__blog-consent {
    display: flex;
    justify-content: center;
}

.send-btn {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding: 19px 53px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    outline: none;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    color: var(--white);
    background: var(--default);
    transition: background-color .3s ease-in-out;
}

.footer__send-btn:hover {
    background: var(--hover);
}

.footer__send-btn:active {
    background: var(--active);
}

.footer__send-btn:focus {
    outline: 2px solid var(--hover);
}


.footer__info {
    margin: 0;
    width: 363px;
    padding-top: 140px;
}

.footer__text {
    font-style: normal;
    font-weight: normal;
    line-height: 31px;
    color: var(--silver);
}

.footer__social-icon .footer__social-ico:hover {
    fill: var(--hover);
}

.footer__social-icon .footer__social-ico:active {
    fill: var(--active);
}


/*==============================COOKIE====================*/
#cookie_notification {
    z-index: 10000;
    display: none;
    justify-content: space-between;
    align-items: flex-end;
    position: fixed;
    bottom: 15px;
    left: 50%;
    width: 900px;
    max-width: 90%;
    transform: translateX(-50%);
    padding: 25px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.4);
}

#cookie_notification p {
    margin: 0;
    font-size: 0.7rem;
    text-align: left;
    color: $color_text;
}


.btn-notification {
    padding: 10px 20px;
    background-color: #364a7c;
    transition: background-color 0.3s linear 0s;
    border-radius: 3px;
    font-size: 18px;
    cursor: pointer;
    display: inline-block;
    color: #ffffff;
}

.btn-notification:hover {
    background-color: #33363b;
}

@media (min-width: 576px) {
    #cookie_notification.show {
        display: flex;
    }

    .cookie_accept {
        margin: 0 0 0 25px;
    }
}

@media (max-width: 575px) {
    #cookie_notification.show {
        display: block;
        text-align: left;
    }

    .cookie_accept {
        margin: 10px 0 0 0;
    }
}


/*==============================popup block====================*/

#blablabla {
    display: none;
    animation-duration: 1.5s;
    animation-fill-mode: both;
    animation-name: fadeIn;
}

#blablabla.open {
    display: block;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(17, 17, 17, 0.5);
    transition: all 0.5s ease-in-out;
    display: none;
}

.popup_open {
    display: block;
}

.popup__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 10px;
    max-width: 588px;
    width: 100%;
}

.popup__wrapper {
    padding: 40px;
}



#result-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  color: var(--active);
}

#popup {
  position: relative;
  margin: 10% auto;
  padding: 20px;
  width: 50%;
  background-color: #fff;
  border-radius: 5px;
}

#closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: blue;
  font-size: 40px;
}


.forceSubmitButton {
    border-radius: 16px;
    background-color: var(--hover);
    color: var(--white);
}